
$Timefont-family: 'minisystem', 'bpdotsunicaseregular', Arial, sans-serif;
$Time-background-color-text: rgb(37, 37, 37);
$Time-background-color-clock: rgb(2, 53, 2);

.time .currency {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  #time {
    display: flex;
    flex: wrap;
    font-size: 1rem;
    background-color: $Time-background-color-text; 
    color: white;
    font-family: $Timefont-family;  
    .time-digits {
      flex: 2;
      text-align: center;
    }
    .time-text {
      flex: 2;
    }
  }
  
  .time-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
    background-color: $Time-background-color-clock; 
    border: 1px solid rgba(2, 46, 12,0.75);
    padding: 2%;
    i {
      position: absolute;
      z-index: 2;
      align-self: flex-start;
      color: white;
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
  
    .clockAnalog{
      background-color: #f3faf5;
      box-sizing: border-box;
      width: 101px;
      height: 101px;
      padding: 4px;
      border-radius: 50%;
      border: 3px solid #218739;
      transform: rotate(0deg);
      background-image: url('https://cssanimation.rocks/images/posts/clocks/ios_clock.svg');
      background-size: contain;
      background-repeat: space;
      background-origin: content-box;
      background-position: center;
      .hours {
        border: 3px solid #01330d;
        position: absolute;
        height: 30%;
        border-radius: 50%;
        left: 48%;
        bottom: 50%;
      }
  
      .minutes {
        border: 1px solid #000702;
        position: absolute;
        height: 35%;
        border-radius: 18%;
        left: 50%;
        bottom: 50%;
      }
  
      .hand {
        transform-origin: bottom center;
      }
      .simple:after {
        background: #000;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 51%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 5%;
        height: 5%;
        z-index: 10;
      }
  
      .time-in {
        box-sizing: border-box;
        font-size: 0.7rem;
        font-family: 'minisystem', 'bpdotsunicaseregular', helvetica, sans-serif; // 
        position: relative;
        padding: 2px;
        color: white;
        background-color: $Time-background-color-text; 
        border: 10px solid rgb rgba(37, 37, 37, 0.75);
        text-align: center;
        left: 30%;
        top: 60%;
      }
    }
  
  
    .clockDigit{
      display: flex;
      background-color: black;
      box-sizing: border-box;
      line-height: 2rem;
      font-size: 1rem;
      border-radius: 0%;
      border: 3px solid grey;
      font-family: 'digitalPlay', 'minisystem', 'bpdotsunicaseregular', helvetica, sans-serif;
      text-align: center;
      .hours{
        color:red;
        transform: rotate(0deg);
      }
      .minutes{
        color:red;
        transform: rotate(0deg);
      }
      .hand {
        transform-origin: none;
      }
      .time-in{
        display: none;
      }
      .simple {
        content: ":";
        color: red;
        border-radius: 50%;
        position: relative;
        // left: 51%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // width: 5%;
        // height: 5%;
        // z-index: 10;
      }
    }
  }