$font-stack: helvetica;
$primary-color: navy;
$body-color: lightblue;

body {
  background-color: $body-color;
  font: 2em $font-stack;
  color: $primary-color;
}

#page-header {
  text-align: center;
  font-size: 3em;
  color: green;
}

#content-wrapper {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#searchForm {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.autocomplete {
  width: 50%;
  font-size: 20px;
}

#myInput {
  position: relative;
  font-size: 20px;
  width: calc(100% - 54px);
  height: 44px;
  z-index: 2;
}

#myInput:focus {
  background-color: #145222;
  color: white;
}

#mySelect {
  position: relative;
  font-size: 20px;
  width: 40%;
  height: 44px;
  z-index: 2;
}

#input-group-country {
  width: 48%;
}

.sugestionItem>div {
  padding: 3px 14px 2px 14px;
  color: lightgray;
  background-color: #145222;
}

.to-hide {
  height: 0;
}

.sugestionItem {
  font-size: 20px;
  position: relative;
  top: -2px;
  left: 52px;
  border: darkgray 1px solid;
  z-index: 1;
}

#sugestionActive {
  background-color: #208638;
  color: white;
}

#page-header img {
  filter: drop-shadow(5px 5px 50px #000000);
  max-width: 90%;
}

.card {
  box-shadow: 5px 5px 50px 14px #000000;
  background-color: rgba(163, 163, 163, 0.75);
}

.main-container {
  height: inherit;
  padding: 0;
}

.weather {
  height: auto;
}

.news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid gray;
  .newsImg {
    position: relative;
    width: 70%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .newsText {
    position: relative;
    text-align: center;
    width: 90%;
    font-size: 1rem;
  }
}

#sun-moon {
  text-align: center;
}
#sun-moon h1 {
  color: #ffc107;
  text-shadow: 2px 2px black;
}

#sun-moon .header {
  display: flex;
  justify-content: space-around;
}

.moonImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: fill;
}


#forecast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  border: 1px solid green;
  
}
.date, .icon, .description, .temp, .pressure, .humidity, .wind, .windDirection{
  width: auto;
  font-size: 1rem;
  border: 1px solid green;
}

.day{
  border: 1px solid green;
  display: flex;
  align-items: center;
}