$font-stack: helvetica;
$primary-color: navy;
$body-color: lightblue;

body {
  background-color: $body-color;
  font: 2em $font-stack;
  color: $primary-color;
  overflow-x: hidden;
  min-width: 580px;
}

#page-header {
  text-align: center;
  font-size: 3em;
  color: green;
}

#searchForm {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.autocomplete {
  width: 50%;
  font-size: 20px;
}

#myInput {
  position: relative;
  font-size: 20px;
  width: calc(100% - 54px);
  height: 44px;
  z-index: 2;
}

#myInput:focus {
  background-color: #145222;
  color: white;
}

#mySelect {
  position: relative;
  font-size: 20px;
  width: 40%;
  height: 44px;
  z-index: 2;
}

#input-group-country {
  width: 48%;
}

.sugestionItem>div {
  padding: 3px 14px 2px 14px;
  color: lightgray;
  background-color: #145222;
}

.to-hide {
  height: 0;
}

.sugestionItem {
  font-size: 20px;
  position: relative;
  top: -2px;
  left: 52px;
  border: darkgray 1px solid;
  z-index: 1;
}

#sugestionActive {
  background-color: #208638;
  color: white;
}

.card {
  box-shadow: 5px 5px 50px 14px #000000;
}

.main-container {
  height: inherit;
  padding: 0;
}

.weather {
  height: auto;
}

#news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  #newsImg {
    position: relative;
    width: 100%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 90%;
      height: 90%;
    }
  }
  #newsText {
    position: relative;
    text-align: center;
    width: 90%;
    font-size: 1rem;
  }
}
.time .currency{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
#time{
  display: flex;
  flex: wrap;
  font-size: 1rem;
  background-color: rgba(50,50,50,75);
  padding: 2%;
  color: white;
  .time-digits{
    flex:2;
    text-align: center;
  }
  .time-text{
    flex:2;
  }
}
.time-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-around;
  background-color: #044b15;
  border: 1px solid #022e0c;
  padding: 2%;
  .clock {
    background-color: #f3faf5;
    box-sizing: border-box;
    width: 101px;
    height: 101px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #208638;
    transform: rotate(0deg);
    background-image: url('https://cssanimation.rocks/images/posts/clocks/ios_clock.svg');
    background-size: contain;
    background-repeat: space;
    background-origin: content-box;
    background-position: center;
    .hours{
      border: 3px solid #01330d;
      position: absolute;
      height: 30%;
      border-radius: 18%;
      left: 48%;
      bottom: 50%;
    }
    .minutes{
      border: 1px solid #000702;
      position: absolute;
      height: 35%;
      border-radius: 18%;
      left: 50%;
      bottom: 50%;
    }
    .hand {
      transform-origin: bottom center;
    }
    .time-in{
      box-sizing: border-box;
      font-size: 0.7rem;
      position: relative;
      padding: 1%;
      color: white;
      background-color: #01330d;
      border: 1px solid #001805;
      text-align: center;
      left: 35%;
      top: 60%;
    }
  }
}
.currency-wrap{
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-content: center;
}
#currency {
  font-size: 1rem;
  margin: auto;
  b{
    text-align: left;
    color: black; 
  }
  .rate{
    color: rgb(83, 83, 83);
  }
  
}

// @keyframes rotateClock {
//   from {
//     transform: rotate(0deg);
//   }to{
//     transform: rotate(360deg);
//   }
// }