$font-stack: helvetica;
$primary-color: navy;
$body-color: lightblue;

body {
  background-color: $body-color;
  font: 2em $font-stack;
  color: $primary-color;
  overflow-x: hidden;
}

#page-header {
  text-align: center;
  font-size: 3em;
  color: green;
}

#searchForm {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.autocomplete {
  width: 70%;
}

#myInput {
  font-size: 20px;
  display: block;
  width: 100%;
}

#mySelect{
  font-size: 20px;
  display: block;
  width: 30%;
}

.sugestionItem {
  font-size: 20px;
  position: absolute;
  color: grey;
  background-color: white;
}

.sugestionActive {
  background-color: lightgray;
  color: black;
}