$font-stack: helvetica;
$primary-color: navy;
$body-color: lightblue;

body {
  background-color: $body-color;
  font: 2em $font-stack;
  color: $primary-color;
  overflow-x: hidden;
}

#page-header {
  text-align: center;
  font-size: 3em;
  color: green;
}
